.contact-container {
    display: flex;
    margin-right: 80px;
    max-width: 390px;
}

.contact-container__info h1 {
    font-family: "Roboto Mono", monospace;
    font-weight: 600;
    font-size: 48px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.contact-container__info h2 {
    font-family: "Roboto Mono", monospace;
    font-weight: 300;
    font-size: 20px;   
}

.contact-container__info__email {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contact-container__info p {
    margin-top: 80px;
    font-family: "Roboto Mono", monospace;
    font-size: 20px;
    font-weight: 500;
}