.NameComponentWrapper {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 320px;
    min-height: 100vh;
    background-color: #F24236;
}

h1 {
    font-family: "Roboto Mono", monospace;
    font-size: 96px;
    font-weight:600;
    color: #ffffff;
    padding-bottom: 5%;
}

hr {
    border: none;
    margin: 0px;
}