.nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    right: 0px;
    padding: 8px 1rem;
    position: fixed;
    background-color: #FFFFFF;
    z-index: 1;
    width: 100%;
 }

.nav a {
    color: #000;
    font-family: "Roboto Mono", monospace;
    font-weight: 500;
    font-size: 20px;
    text-decoration: none;
}

.nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 2rem;
}

.nav a.active {
    color: #0066FF;
}

.nav li:hover {
    text-decoration: underline;
    text-decoration-color: #0066FF;
}