body {
  font-family:'Inter', serif;
  background-color: #181818;
}

div {
  margin: 20px 8px;
}

.vertically-center-container {
  max-width: 550px;
  margin: auto;
}

h1 {
  color: #F5F5F5;
  font-weight: bold;
  font-size: 32px;
  margin: 0px;
  margin: 0px 0px 0px 15px;
}

h2 {
  color: #c4c4c4;
  font-weight: 400;
  font-size: 24px;
  margin: 5px 0px;
  margin: 0px 0px 0px 15px;
}

h3 {
  width: fit-content;
  color: #F5F5F5;
  font-weight: bold;
  margin-top: 5px;
  padding-bottom: 1px;
  border-bottom: solid 1px #A485B7;
  font-size: 16px;
}

p {
  color: #c4c4c4;
  margin-top: 10px;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.4;
}

@media (max-width: 450px) {
    h1 {
      font-size: 22px;
    }

    h2 {
      font-size: 20px;
    }
}

@media (max-width: 385px) {
  h1 {
    font-size: 20px;
  }

  h2 {
    font-size: 18px;
  }
}