body {
  margin: 0px;
}

.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 98vh;
  padding-left: 120px;
  padding-top: 30px;
  overflow: hidden;
 }

 .project-container h1 {
    margin-top: 0px;
    padding: 40px;
 }

/*
.left-sibling {
  content: '';
  position: absolute;
  border-radius: 15px;
  top: 60px;
  left: 60px;
  width: 36vw; 
  height: 80%;
  background-color: #D5BDAF;
  z-index: -1;
} /* Adjust the width based on your preference 