.profile-card {
    background-color: #F5EBE0;
    text-align: center;
    width: 360px;
    box-shadow: -10px 10px 4px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
}

img {
    display: inline-block;
    max-width: 200px;
}

hr {
    border: none; 
    height: 3px; 
    background-color: #0066FF; 
    margin: 5% 40%; 
  }

.profile-card__main img {
    border-radius: 25px;
    margin-top: 10%;
}
  

.profile-card__main h1 {
    font-family: "Roboto Mono", monospace;
    font-weight: 600;
}

.profile-card__main p {
    font-family: "Roboto Mono", monospace;
    font-weight: 300;
    margin: 5px;
}

.profile-card__footer {
    flex-direction: row;
    background-color: #FFFFFF;
    height: 50px;
}

.profile-card__footer img {
    max-width: 30px;
    margin: 10px;
}